{% extends "base.html" %}{% macro display_children(category_tree) %}
<ul class="list-group">
  {% for id, category in category_tree.items() %}
  <li class="list-group-item pb-2">
    <div class="d-flex">
      <a href="/categories/{{id}}" class="d-block mb-1">{{ category.name }}</a>
      <small class="d-block ms-1"
        >[рецептов в узкой категории:
        <b>{{ category.count_receipts }}</b>]</small
      >
    </div>
    {% if category.children %} {{ display_children(category.children) }} {%
    endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %} {% block title %} Категории {% endblock %} {% block content %}
<h1>Категории</h1>
{{ display_children(category_tree) }} {% endblock %}
