{% extends "base.html" %} {% block title %} {% if receipt and receipt is not
none %} Редактирование - {{receipt.title}} {% else %} Рецепт не найден {% endif
%} {% endblock %} {% block content %} {% if receipt and receipt is not none %}
<h1>Редактирование рецепта</h1>
<form method="post" id="update-form">
    <div class="form-group mb-2">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ form.title.data }}">
    </div>
    <div class="form-group mb-2">
        <label for="body">Текст рецепта</label>
        <textarea class="form-control" id="body" name="body" rows="5">{{ form.body.data }}</textarea>
    </div>
    <div class="form-group mb-2">
        <label for="category">Категория</label>
        <select class="form-control" id="category" name="category">
            {% for id, category_name in form.category.choices %}
            <option value="{{ id }}" {% if id == form.category.data %} selected {% endif %}>{{ category_name }}</option>
            {% endfor %}
        </select>
    </div>
    <label for="body">Ингредиенты</label>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Ингредиент</th>
            <th>Ед.измерения</th>
            <th>Количество</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody id="ingredients_table_body">
        {% for ingredient in form.ingredients %}
        <tr>
            <td>
                <select class="form-control" name="ingredient_id">
                    {% for id, ingredient_name in ingredients %}
                    <option value="{{ id }}" {% if id == ingredient.ingredient_id %} selected {% endif %}>{{ ingredient_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" name="unit_id">
                    {% for id, short_name in units %}
                    <option value="{{ id }}" {% if id == ingredient.unit_id %} selected {% endif %}>{{ short_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="number" class="form-control" name="amount" value="{{ ingredient.amount }}">
</td>
<td>
<input type="text" class="form-control" name="comment" value="{{ ingredient.comment }}">
</td>
</tr>
{% endfor %}
</tbody>
</table>
<button type="submit" class="btn btn-primary">Сохранить</button>

</form>
<script>
  document
    .getElementById("update-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      var formData = new FormData(event.target);
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", "/api/receipts/{{receipt[3]}}");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            window.location = "/receipts/{{receipt[3]}}";
          } else {
            window.location = "/error";
          }
        }
      };
      xhr.send(formData);
    });
</script>
{% else %}
<b>Рецепт не найден!</b>
{% endif %} {% endblock %}
